html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

blockquote, q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
blockquote:before, q:before, blockquote:after, q:after { content: ""; }

th, td, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }

table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }

a img { border: none; }

body { line-height: 1.5; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; color: #333333; font-size: 100%; }

h1 { font-weight: normal; color: #222222; font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h1 img { margin: 0; }

h2 { font-weight: normal; color: #222222; font-size: 2em; margin-bottom: 0.75em; }

h3 { font-weight: normal; color: #222222; font-size: 1.5em; line-height: 1; margin-bottom: 1em; }

h4 { font-weight: normal; color: #222222; font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }

h5 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }

h6 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; }

h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }

p { margin: 0 0 1.5em; }
p img.left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }

a { text-decoration: underline; color: #000099; }
a:visited { color: #000066; }
a:focus { color: black; }
a:hover { color: black; }
a:active { color: #cc0099; }

blockquote { margin: 1.5em; color: #666; font-style: italic; }

strong { font-weight: bold; }

em { font-style: italic; }

dfn { font-style: italic; font-weight: bold; }

sup, sub { line-height: 0; }

abbr, acronym { border-bottom: 1px dotted #666; }

address { margin: 0 0 1.5em; font-style: italic; }

del { color: #666; }

pre { margin: 1.5em 0; white-space: pre; }

pre, code, tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

li ul, li ol { margin: 0 1.5em; }

ul { margin: 0 1.5em 1.5em 1.5em; list-style-type: disc; }

ol { margin: 0 1.5em 1.5em 1.5em; list-style-type: decimal; }

dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }

dd { margin-left: 1.5em; }

table { margin-bottom: 1.4em; width: 100%; }

th { font-weight: bold; }

thead th { background: #c3d9ff; }

th, td, caption { padding: 4px 10px 4px 5px; }

tr.even td { background: #e5ecf9; }

tfoot { font-style: italic; }

caption { background: #eee; }

.quiet { color: #666666; }

.loud { color: #111111; }

.showgrid { background: url('/images/grid.png?1259957413'); }

body.general { background-color: #1d1d1d; color: white; }
body.general h1, body.general h2, body.general h3, body.general h4, body.general p, body.general div, body.general span { color: white; }
body.general a { color: #4ab9ef; }
body.general a:visited { color: #c6e7f7; }
body.general #container { width: 885px; margin: 0 auto; overflow: hidden; display: inline-block; }
body.general #container { display: block; }
body.general #header, body.general #footer, body.general #content { display: inline; float: left; margin-right: 15px; width: 885px; }
* html body.general #header, * html body.general #footer, * html body.general #content { overflow-x: hidden; }
body.general #sidebar { display: inline; float: left; margin-right: 15px; width: 285px; }
* html body.general #sidebar { overflow-x: hidden; }
body.general #header h1, body.general #header #slogan, body.general #header #offsite-links { display: inline; float: left; margin-right: 15px; width: 485px; }
* html body.general #header h1, * html body.general #header #slogan, * html body.general #header #offsite-links { overflow-x: hidden; }
body.general #header h1 { padding-left: 50px; }
body.general #header #slogan { position: relative; padding-left: 100px; top: -1.5em; }
body.general #header #offsite-links { position: relative; top: -6em; left: 750px; }
body.general #container { margin-top: 1.5em; margin-bottom: 3em; }
body.general #sidebar #main-nav { padding-left: 50px; }
body.general #sidebar, body.general #content { padding-top: 1.5em; padding-bottom: 1.5em; }
body.general #header { padding-top: 1.5em; }
body.general #footer { padding-left: 550px; padding-top: 1.5em; padding-bottom: 1.5em; }
body.general #container { color: white; background-color: #555555; -moz-border-radius: 1em; -webkit-border-radius: 1em; }
body.general #header { border-bottom: 2px solid black; }
body.general #header h1 { font-family: Times, serif; }
body.general #header h1 a { color: inherit; text-decoration: inherit; cursor: inherit; }
body.general #header h1 a:hover { text-decoration: none; color: #aec95f; }
body.general #header #offsite-links { margin: 0; padding: 0; border: 0; outline: 0; overflow: hidden; display: inline-block; }
body.general #header #offsite-links { display: block; }
body.general #header #offsite-links li { list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
body.general #header #offsite-links li.first { padding-left: 0px; }
body.general #header #offsite-links li.last { padding-right: 0px; }
body.general #header a, body.general #sidebar a { text-decoration: none; }
body.general #header a:hover, body.general #sidebar a:hover { text-decoration: underline; }
body.general #sidebar #main-nav { font-size: 1.5em; line-height: 1; margin-bottom: 1em; line-height: 2; margin: 0; }
body.general #sidebar #main-nav li { list-style-type: none; margin-left: 0px; }
body.general #footer #smallprint-nav { margin: 0; padding: 0; border: 0; outline: 0; overflow: hidden; display: inline-block; margin: 0 auto; font-size: 0.75em; line-height: 2; }
body.general #footer #smallprint-nav { display: block; }
body.general #footer #smallprint-nav li { list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
body.general #footer #smallprint-nav li.first { padding-left: 0px; }
body.general #footer #smallprint-nav li.last { padding-right: 0px; }
body.general #flashbox { display: inline; float: left; margin-right: 0; width: 735px; margin-left: 50px; padding-left: 50px; background-color: #fff2cc; color: #1d1d1d; border-color: #1d1d1d; -moz-border-radius: 1em; -webkit-border-radius: 1em; padding-top: 1.5em; }
* html body.general #flashbox { overflow-x: hidden; }
body.general #flashbox ul li { list-style-type: none; margin-left: 0px; }

body#main #main-counters { display: inline; float: left; margin-right: 15px; width: 885px; padding-left: 250px; margin-bottom: 3em; margin-top: 1.5em; }
* html body#main #main-counters { overflow-x: hidden; }
body#main .stat-num { display: inline; float: left; margin-right: 15px; width: 535px; font-size: 1.5em; line-height: 1; margin-top: 0.5em; }
* html body#main .stat-num { overflow-x: hidden; }
body#main .stat-num .number { display: inline; float: left; margin-right: 15px; width: 185px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background-color: #aec95f; text-align: center; }
* html body#main .stat-num .number { overflow-x: hidden; }
body#main .stat-num .pre { display: inline; float: left; margin-right: 15px; width: 85px; text-align: right; }
* html body#main .stat-num .pre { overflow-x: hidden; }
body#main .stat-num .descr { display: inline; float: left; margin-right: 15px; width: 185px; }
* html body#main .stat-num .descr { overflow-x: hidden; }
body#main .stat-num .pre, body#main .stat-num .descr, body#main .stat-num .number { padding-top: 0.25em; padding-bottom: 0.25em; }
body#main #ranking-wrap { display: inline; float: left; margin-right: 15px; width: 785px; padding-left: 100px; }
* html body#main #ranking-wrap { overflow-x: hidden; }
body#main .ranking { display: inline; float: left; margin-right: 15px; width: 335px; }
* html body#main .ranking { overflow-x: hidden; }
body#main .ranking li { border-bottom: 1px dashed; margin-bottom: -1px; }
body#main .ranking li a { color: white; text-decoration: none; }
body#main .ranking li a:hover { color: #4ab9ef; border-bottom: 1px dashed; }
body#main .ranking li a:hover:visited { color: #c6e7f7; }
body#main .ranking .user-review-count, body#main .ranking .deck-review-count { position: relative; float: right; }
body#main #deck-ranking { padding-left: 50px; display: inline; float: left; margin-right: 0; width: 335px; }
* html body#main #deck-ranking { overflow-x: hidden; }

body#signup #content { padding-left: 150px; display: inline; float: left; margin-right: 15px; width: 585px; }
* html body#signup #content { overflow-x: hidden; }
body#signup #content form>div { display: inline; float: left; margin-right: 0; width: 585px; min-height: 3em; }
* html body#signup #content form>div { overflow-x: hidden; }
body#signup #content form label { display: inline; float: left; margin-right: 15px; width: 185px; }
* html body#signup #content form label { overflow-x: hidden; }
body#signup #content form .text_input { display: inline; float: left; margin-right: 0; width: 335px; }
* html body#signup #content form .text_input { overflow-x: hidden; }
body#signup #content form .errormsg { padding-left: 200px; display: inline; float: left; margin-right: 0; width: 335px; }
* html body#signup #content form .errormsg { overflow-x: hidden; }
body#signup #content form input[type=text], body#signup #content form input[type=password] { border: 1px solid black; padding: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
body#signup #content form input[type=text]:hover, body#signup #content form input[type=text]:focus, body#signup #content form input[type=password]:hover, body#signup #content form input[type=password]:focus { background-color: #f2ffa3; }
body#signup #content form input.error { border-color: #C00; background-color: #FEF; }
body#signup #content form .errormsg { display: block; color: #FDE; margin-bottom: 1.5em; }
body#signup #content form input[type=submit] { width: 85px; margin-left: 200px; }

.debug #header h1 { background-color: green; }
.debug #header #slogan { background-color: blue; }
.debug #header #offsite-links { background-color: red; }
