<x xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" py:strip="">

  <head py:match="head">
    <title py:with="title = list(select('title/text()'))">
      <py:if test="title">${title} |</py:if>Annikki.org
    </title>
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
    <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
  </head>

  <py:match path="body" once="true">
    <body py:attrs="select('@*')">
      <div id="container">
	<div id="header" />
	<!--<div id="sidebar" />-->
	${select("*|text()")}
	<div id="footer" />
      </div>
    </body>
  </py:match>

  <div py:match="*[@id='header']" py:attrs="select('@*')">
    <h1><a href="/">Annikki.org</a></h1>
    <span id="slogan">Your Anki logbook</span>
    <!-- <span py:if="'REMOTE_USER' in request.environ">${request.environ["REMOTE_USER"]}</span> -->
    <ul id="offsite-links">
      <li><a href="http://ichi2.net/anki/">Get Anki</a></li>
    </ul>
  </div>

  <div py:match="*[@id='sidebar']" py:attrs="select('@*')">
    <ul id="main-nav">
      <li><a href="">Home</a></li>
      <li><a href="">Users</a></li>
      <li><a href="">Decks</a></li>
      <li><a href="">Stats</a></li>
    </ul>
  </div>

  <div py:match="*[@id='footer']" py:attrs="select('@*')">
    <ul id="smallprint-nav">
      <li><a href="#">What's this?</a></li>
      <li><a href="#">Discuss</a></li>
      <li><a href="#">Developers</a></li>
    </ul>
  </div>

  <div py:match="*[@id='flashbox']" py:strip="">
    <?python
       messages = h.flash.pop_messages()
    ?>
    <div id="flashbox" py:if="messages" py:attrs="select('@*')">
      <ul>
	<li py:for="m in messages">${m}</li>
      </ul>
    </div>
  </div>

</x>
