<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../base.html" />
  <head />
  <body>
    <div id="header" />
    <div id="sidebar" />
    <div id="content">
      <h2>contents</h2>
      <ol>
	<li py:for="r in review_sets">
	  ${r.user.username} studied ${len(r.reviews)} cards at ${r.timestamp}
	  <div py:for="c in r.reviews" class="card">
	    <div class="q">${Markup(c.card.question)}</div>
	    <div class="a">${Markup(c.card.answer)}</div>
	  </div>
	</li>
      </ol>
    </div>
    <div id="footer" />
  </body>
</html>
