<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../base.html" />
  <head />
  <body id="main" class="general">
    <div id="content">
      <div class="stat-num">
	<span class="number">175</span>
	<span class="descr">cards studied today</span>
      </div>

      <div class="stat-num">
	<span class="number">3175</span>
	<span class="descr">cards studied this week</span>
      </div>

      <div class="stat-num">
	<span class="number">57</span>
	<span class="descr">decks studied this week</span>
      </div>

      <!--
      <ol>
	<li py:for="r in review_sets">
	  ${r.user.username} studied ${len(r.reviews)} cards at ${r.timestamp}
	  <div py:for="c in r.reviews" class="card">
	    <div class="q">${Markup(c.card.question)}</div>
	    <div class="a">${Markup(c.card.answer)}</div>
	  </div>
	</li>
      </ol>
      -->
    </div>
  </body>
</html>
