<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../base.html" />
  <head />
  <body id="main" class="general">
    <div id="content" class="showgrid-">
      <div id="flashbox" />
      <div id="main-counters">
	<div class="stat-num">
	  <span class="pre"></span>
	  <span class="number">175,067,358</span>
	  <span class="descr">cards reviewed</span>
	</div>
	
	<div class="stat-num">
	  <span class="pre">from</span>
	  <span class="number">3175</span>
	  <span class="descr">decks</span>
	</div>
	
	<div class="stat-num">
	  <span class="pre">by</span>
	  <span class="number">532</span>
	  <span class="descr">people</span>
	</div>
      </div>

      <div id="ranking-wrap">
	<div class="ranking" id="user-ranking">
	  <h3>Most active users</h3>
	  <ol>
	    <li><a href="/user/cndimentum">condimentum<span class="user-review-count">345,456</span></a></li>
	    <li>nibh</li>
	    <li>a</li>
	    <li>sapien</li>
	    <li>fringilla</li>
	    <li>laoreet</li>
	    <li>Praesent</li>
	    <li>fermentum</li>
	    <li>est</li>
	    <li>ut</li>
	    <li>nisl</li>
	    <li>faucibus</li>
	    <li>porttitor</li>
	    <li>Cras</li>
	    <li>suscipit</li>
	    <li>iaculis</li>
	    <li>ultricies</li>
	    <li>Aliquam</li>
	    <li>vulputate</li>
	    <li>ultrices</li>
	    <li>dolor</li>
	    <li>non</li>
	    <li>posuere</li>
	    <li>Aliquam</li>
	    <li>erat</li>
	    
	  </ol>
	</div>
	<div class="ranking" id="deck-ranking">
	  <h3>Most popular decks</h3>
	  <ol>
	    <li>condimentum nibh</li>
	    <li>a sapien</li>
	    <li>fringilla laoreet</li>
	    <li>Praesent fermentum</li>
	    <li>est ut</li>
	    <li>nisl faucibus</li>
	    <li>porttitor Cras</li>
	    <li>suscipit iaculis</li>
	    <li>ultricies Aliquam</li>
	    <li>vulputate ultrices</li>
	    <li>dolor non</li>
	    <li>posuere Aliquam</li>
	    <li>erat volutpat</li>
	    <li>Praesent auctor</li>
	    <li>viverra eros</li>
	    <li>in volutpat</li>
	    <li>Praesent imperdiet</li>
	    <li>felis a</li>
	    <li>orci sodales</li>
	    <li>laoreet eleifend</li>
	    <li>neque pellentesque</li>
	    <li>Cras pulvinar</li>
	    <li>venenatis magna</li>
	    <li>quis iaculis</li>
	    <li>ligula vulputate</li>
	    
	  </ol>
	</div>
      </div>

      <!--
      <ol>
	<li py:for="r in review_sets">
	  ${r.user.username} studied ${len(r.reviews)} cards at ${r.timestamp}
	  <div py:for="c in r.reviews" class="card">
	    <div class="q">${Markup(c.card.question)}</div>
	    <div class="a">${Markup(c.card.answer)}</div>
	  </div>
	</li>
      </ol>
      -->
    </div>
  </body>
</html>
